MELTANO_DATA_PATH = ""

MELTANO_BASE_URL = "https://s3.amazonaws.com/tripdata"
MELTANO_YYYYMM_CODE = "202608"

TARGET_POSTGRES_HOST=localhost
TARGET_POSTGRES_PORT=5432
TARGET_POSTGRES_DATABASE=citybike
TARGET_POSTGRES_PASSWORD=
TARGET_POSTGRES_USER=postgis
